/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
/* animations */
@keyframes bounce {
  50% {
      -webkit-transform: translateY(-5px);
  }
}

@keyframes slideInFromTop{
  0%{
   transform: translateY(-80px);
   opacity: 0%;
  }

  100%{
    transform: translateY(0px);
  }
}
@keyframes slideInFromLeft{
  0%{
   transform: translateX(-400px);
   opacity: 0%;
  }

  100%{
    transform: translateX(0px);
  }
}

@keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}


body {
  background: white;
  color: rgba(0, 0, 0, 0.87);
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  
}


header {
    text-align: center;
}

#logo{
  height: 100px;
  animation: spin ease-out .8s;


}

a{
    text-decoration: none;
    color: blue;
}
.portfolio{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.portfolio li{
    font-size: 16px;
    padding-bottom: 10px;
    text-align: left;
}

.card {
    width: 300px;
    height: 450px;
    border: 1px black solid;
    border-radius: 10px;
    background: rgb(246, 246, 224);
    box-shadow: 10px 15px teal;
    font-family: 'Electrolize', sans-serif;
    font-family: 'Overpass Mono', monospace;

    animation:  slideInFromLeft .8s ease-out;

}

.card_title{
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}
.card a{
  text-decoration: none;
  color: black;
}
.card:hover {
  animation: bounce 1s;
}



.noListDecoration{
    list-style: none;
}


/* footer */

.container{
    display: flex;
    flex-flow: column;
    padding-top: 10px;
    align-items: center;}

#main-footer{
    height: 10vh;
    color: gray;
    padding: 20px;
    position: absolute;
    
}

footer{
  font-family: 'Electrolize', sans-serif;
    align-items: center;
}

/* firebase styling */
#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

@media (max-width: 600px) {

  body,
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }

  body {
    border-top: 16px solid #ffa100;
  }
}
